@import url(../base/style.css);

@import 'stylesheets/icons';
@import 'stylesheets/forms';

@import 'stylesheets/header';
@import 'stylesheets/navigation';
@import 'stylesheets/news';
@import 'stylesheets/search';
@import 'stylesheets/articles';
@import 'stylesheets/blogs';
@import 'stylesheets/profiles';
@import 'stylesheets/blocks';
@import 'stylesheets/footer';
@import 'stylesheets/signup';
@import 'stylesheets/comments';
@import 'stylesheets/inputs';
@import 'stylesheets/buttons';
@import 'stylesheets/profile';

@font-face {
  font-family: Aller;
  src: url('fonts/Aller_Lt.ttf');
}

p.customfont {
  font-family: "My Custom Font", Verdana, Tahoma;
}

/*
* I'm pretty sure it should't have a display table, but
* it fixes the widht+overflow issue. Let's keep it like
* this until we make the layout responsive.
*/
body {
  font-family: Aller;
  display: table;
  width: 100%;
  background: #FFF;
  color: #000;
}

#wrap-1 {
  width: auto;
  position: relative;
}

#wrap-2 {
  position: static;
  padding: 0px;
  border: none;

  #user {
    display: none;
  }

  #site-title {
    display: none !important;
  }

  #content {
    margin: 1% auto 5% auto;
    width: 1000px;
    z-index: 0;
  }
}

.action-home-index {
  #content .box.box-1 {
    margin-left: 220px;
  }
}

#content .block.main-block {
  width: auto;
  margin: 0;
}

.main-content {
  border-width: 0px;
  border-radius: 0px;
  box-shadow: 0px 0px 0px;
  padding: 0px 0px;
}

/* * * INI Blocos * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#public-profile-search, #profile-search-results form, .profile-search-block form {
  background-color: white;
}

/* * * FIM Blocos * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.action-home-index #content div.blocks .block.main-block h1 {
  font-size: 20px;
  font-weight: bold;
  background-color: #EFEFEF;
  border-left: 10px solid #008E32;
  height: 45px;
  line-height: 300%;
  color: #aaa;
  border-bottom: 0px;
  text-transform: none;
  padding: 0 0 14px 15px;
  margin-bottom: 10px;
}

/* Header */

#agenda > div.agenda-calendar > table > caption > a.button.icon-next.with-text{
  padding-left: 6px !important;
  padding-right: 21px !important;
}

#events-of-the-day {
  padding-top: 10px;
}

#content-inner > div.no-boxes > div > div > div > div.text-editor-sidebar > div.header {
  height: 20px;
}

#content-inner > div.no-boxes > div > div > div > div.with_media_panel {
  width: 940px;
}

/* fixing flag and bookmark style */

#addThis {
  margin-top: -37px;
}

#bt_addThis.without-flags > img {
  padding-top: 15px;
}

#bt_addThis.with-flags > img {
  padding-top: 0px;
}

#fullscreen-btn {
  display: none;
}

.my-network-block ul {
  padding: 0px 0px 10px 6px;
}

.block-inner-2 > ul > li > a {
  color: #003366;
}

.block-inner-2 > div > div.admin-link > a {
  color: #003366;
}

.block-footer-content a.view-all {
  color: #336699;
  top: 8px;
}

#content .people-block .block-footer-content a.view-all, #content .friends-block .block-footer-content a.view-all, #content .members-block .block-footer-content a.view-all {
  background: url(/designs/themes/base/imgs/arrow-right-p.png) 0% 50% no-repeat ;
  background-size: 7px;
  padding-left: 11px;
}

.block.recent-documents-block > div > div > div.block-footer-content > a {
  color: #336699;
}

.blog-post {
  background: none;
}

.profile-homepage {
  .button.icon-feed.blog-feed-link {
    margin-top: 4.5em;
  }
}

div#notice {
  opacity: 1 !important;
  background: #003C47;
}

#profile-dropdown #user-name {
  display: block;
  color: white;
  margin-bottom: 15px;
  font-size: 14px;
}

#profile-dropdown #profile-logged-in #logged-options {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}


#profile-dropdown #profile-logged-in #logged-options li {
  background: #009B37;
  padding-bottom: 0px;
  min-width: 190px;
  border-radius: 5px;
  margin: 0px 0px 2px 0px;
  height: 30px;
}

#profile-dropdown #profile-logged-in #logged-options li a {
  color: white;
  text-decoration: none;
  line-height: 30px;
  display: block;
}

#profile-dropdown #profile-logged-in #logged-options li a:hover {
  color: #ddd;
}

.footer-division-title {
  text-transform: uppercase;
}

#profile-header-actions {
  max-width: 125px;
}

#header-login #header-login-options {
  display: flex;
  margin-top: 12px;
}

.header-login-options-col {
  width: 50%;
}

.header-login-options-col.left {
  text-align: left;
}

.header-login-options-col.right {
  text-align: right;
}

#header-login > #login-inputs input {
  display: inline;
  border-radius: 4px;
  width: 108px;
  height: 20px;
  padding: 3px;
}

#header-login input::-webkit-input-placeholder {
  text-align: center;
  text-transform: lowercase;
  color: #CECECE;
}

#header-login .header-login-options-col input[type=submit] {
  padding: 20px;
  margin: 0;
  text-transform: UPPERCASE;
  background-color: #005D34;
  line-height: 2px;
  color: white;
  font-weight: 900;
  border: none;
  border-bottom: 5px solid #003A19;
  width: 85%;
}

#header-login .header-login-options-col input[type=submit]:hover {
  cursor: pointer;
}

#internal-link > ul,
#social-media > div > ul,
#footer-content > ul > li:nth-child(4) > ul {
  margin-top: 10%;
}

#header-login .header-login-options-col input[type=submit]:focus {
  outline: none;
  background-color: #003A19;
}

#profile-header-fga #header-login #remember-me-checkbox {
  transform: scale(1.5);
}

#profile-header-fga #header-login #remember-me-label {
  color: white;
  margin-top: 10px;
}

.profile-buttons input:hover {
  color: #009B37 !important;
  border-bottom: 5px solid #003A19 !important;
}

#profile-header-fga .signup-form {
  padding-top: 5px;
  text-align: center;
}

#profile-header-fga .signup-form a {
  text-decoration: none;
  font-size: 13px;
  color: #7b7b7b;
}

#profile-header-fga .signup-form a:hover {
  text-decoration: underline;
}

#profile-menu-dropdown {
  display: flex;
  align-items: center;
  margin-right: 9px;
  justify-content: flex-end;
}

#profile-menu-dropdown > img {
  border-radius: 100%;
  max-width: 50px;
  height: 50px;
  overflow: hidden;
}

#profile-menu-dropdown > img:hover,
#profile-menu-dropdown > span:hover {
  cursor: pointer;
}

#profile-menu-dropdown .fa.fa-angle-down {
  padding-left: 5%;
  font-size: 2em;
}

#navigation #login-button span {
  padding-left: 0px;
  padding-right: 5px;
}

#profile-header-fga #forgot-password {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #eee;
}

#profile-header-fga #forgot-password:hover {
  text-decoration: underline;
}

#navigation .header-forgot-password a {
  color: white;
  font-family: "Aller";
  font-size: 13px;
  line-height: 10px;
  padding-bottom: 5px;
}

#navigation .header-remember-me {
  color: white;
  border-radius: 0px;
  box-shadow: 2px 2px 2px 0px black;
  padding: 25px;
  font-family: "Aller";
  width: 250px;
  min-height: 40px;
  pointer-events: initial;
  transition: opacity 0.1s ease-in-out;
}

div#notice:hover {
  opacity: 0.6 !important;
}

.ui-tabs {
  padding: 0;

  .ui-tabs-nav.ui-widget-header {
    background: #005263;
    border: none;
    border-radius: 0;
    padding: 10px 10px 0;

    .tab.ui-state-default {
      background: #D0D0D0;

      &.ui-state-active {
        background: white;
      }

      a {
        outline: none;
      }
    }
  }

  .ui-widget-content {
    th {
      color: #005263;
    }

    &#profile-wall #leave_scrap {
      border: 1px solid #aaa;

      #leave_scrap_form {
        #leave_scrap_content {
          border: none;
          width: 99%;
        }

        .button.submit {
          margin-bottom: 1px;
        }
      }
    }
  }
}

#signup-form .formlabel {
  font-size: 18px;
}

#footer-content ul li a {
  font-family: "Aller";
  color: #707070;
}

/* UnB Gama - Carousel  */
.highlights-block-pager {
  margin-top: 0px;
  padding: 20px 0px 20px 0px;
  background-color: #eee;
  width: 99%;
}
.highlights-block-pager a  {
  background: none;
  /*width: 35px;
  height: 6px;*/
  padding: 0px 20px;
  margin-right: 15px;
  background-color: #008E32;
  border-radius: 10px;
  font-size: 7px;
}
.highlights-block-pager a:hover  {
  background: none;
  background-color: #B4BDBE;
}
.highlights-block-pager a.activeSlide  {
  background: none;
  background-color: #005d27;
}
.highlights-label {
  position: absolute;
  bottom: 45px;
  left: 70px;
  width: initial;
  font-size: 24px;
  height: 40px;
  border-radius: 5px;
  background-color: #008E32;
}
